on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      actions: read
    outputs:
      new_versions: ${{ steps.check.outputs.new_versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: setup
        uses: ./.github/actions/k6registry_setup

      - name: check
        run: >
          ./check-new-versions.sh --lint --verbose

